# env
.env
.env.local
.env.production
.env.config*
.env.test

# test
/deployed.json
/coverage

# dependencies
/node_modules
/.pnp
.pnp.js
.yalc
yalc.lock
tsconfig.tsbuildinfo

# production
/build
/dist

#ide
.vscode
.idea

# yarn
.yarn/install-state.gz

# wallets
wallets/*

# cache
ipfs-cache/*
cache/*

# lsv-web-terminal
lsv-web-terminal
.anvil.pid
